/* 
====================
FONTS
====================
*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
/* 
====================
VARIABLES
====================
*/
:root {
    --clr-primary-1: hsl(184, 91%, 17%);
    --clr-primary-5: hsl(185, 62%, 45%);
    --clr-primary-7: hsl(184, 65%, 59%);
    --clr-primary-8: hsl(184, 80%, 74%);
    --clr-black:rgb(0,0,0);
    --clr-white:#fff;
    --clr-grey-1: hsl(208, 63%, 16%);
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --ff-primary: "lato", "sans-serif";
    --spacing:0.25rem;
    --radius:0.5rem;
    --line-height:1.5;
    --transition:all 0.3s linear;
    --box-shadow-light:0 5px 15px rgba(0,0,0,0.1);
    --box-shadow-dark:0 5px 15px rgba(0,0,0,0.3);
}
/* 
====================
GLOBAL STYLES
====================
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff-primary);
    background-color: #ffa399;
    background-image: radial-gradient(
        at 96% 84%,
        hsla(295, 47%, 72%, 1) 0px,
        transparent 50%
    ),
    radial-gradient(at 50% 13%, hsla(294, 47%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 88% 54%, hsla(14, 47%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 12% 19%, hsla(171, 47%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 90% 48%, hsla(104, 47%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 17% 48%, hsla(73, 47%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 53% 98%, hsla(94, 47%, 72%, 1) 0px, transparent 50%);
    color: var(--clr-grey-1);
    line-height: var(--line-height);
    font-size: 0.875rem;
    font-weight: 400;
    height: 100vh;
}

img:not(.nav-logo) {
    width: 100%;
    display: block;
}

h1 {
    letter-spacing: var(--spacing);
    line-height: 1.25;
    text-transform: capitalize;
    margin-bottom: 0.25rem;
    font-size: 2rem;
}
span{
    display: inline-block;
}
p {
    margin-bottom: 1.25rem;
    color: var(--clr-white);
    font-size: 1.25rem;
}

@media screen and (min-width:800px) {
    h1 {
        font-size: 3rem;
        line-height: 1;
    }
    body {
        font-size: 1rem;
    }
}

/* 
=====================
GLOBAL-CLASSES
=====================
*/

.btn {
    display: inline-block;
    text-transform: uppercase;
    background: var(--clr-primary-7);
    color: var(--clr-grey-1);
    padding: 0.3rem 0.5rem;
    letter-spacing: var(--spacing);
    display: inline-block;
    transition: var(--transition);
    font-size: 0.65rem;
    border: 2px solid transparent;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
.btn:hover {
    background: var(--clr-primary-8);
    color: var(--clr-primary-1);
}
input {
    display: inline-block;
}
.section {
    padding: 2rem 0;
}
.section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
}

@media screen and (min-width:992px) {
    .section-center {
        width: 95vw;
    }
}

/* 
=====================
NAVBAR
=====================
*/
.navbar{
    width: 100%;
    background: var(--clr-black);
    border-bottom: 2px solid var(--clr-grey-5);
    height: 4rem;
}
.nav-center {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.nav-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 2rem;
    padding-bottom: 0;
}

/* 
=====================
HERO
=====================
*/
.hero {
    height:25vh;
    color: var(--clr-white);
    /* background: var(--clr-black); */
    border-bottom: 5px solid white;
    position: relative;
}

.hero-banner {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.btn-reset {
    color: var(--clr-primary-5);
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.5rem 1.5rem;
    text-decoration: line-through;
    background: var(--clr-white);
    border-radius: 40%;
    display: inline-block;
    position: absolute;
    top:100%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -webkit-border-radius: 40%;
    -moz-border-radius: 40%;
    -ms-border-radius: 40%;
    -o-border-radius: 40%;
}
.hero-center {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
}
@media screen and (min-width:992px) {
    .hero-center {
        width: 95vw;
    }
}
/* 
=====================
MODAL SECTION
=====================
*/

.modal {
    display: none;
    position: fixed;
    top: 4rem;
    left:0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    background-color: rgb(81 91 116 / 70%);
	z-index: 9;
    margin-top: 1rem;
   
}
.modal-content {
    color: black;
    width: 100%;
    max-width: 500px;
    position: relative;
    box-shadow: 0 0 10px rgb(173 148 148 / 70%);
    background: var(--clr-white);
    margin: 1rem;
    border-radius: var(--radius);
    -webkit-border-radius: var(--radius);
    -moz-border-radius: var(--radius);
    -ms-border-radius: var(--radius);
    -o-border-radius: var(--radius);
}
.container {
    margin: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
.container p{
    color: var(--clr-black);
    text-transform: capitalize;
}
.modal-text {
    display: block;
    text-align: center;
}
.btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.btn-Again {
    display: none;
}
.show {
	display: flex;
}

.hide {
	display: none;
}

/*
=====================
DECISION SECTION
=====================
*/
.progress-bar {
    /* change */
    /* display: none; */
    background: var(--clr-grey-5);
    width: 100%;
    position: relative;
    height: 2rem;
    border: 1px solid black;
    border-radius: var(--radius);
    -webkit-border-radius: var(--radius);
    -moz-border-radius: var(--radius);
    -ms-border-radius: var(--radius);
    -o-border-radius: var(--radius);
}

.my-bar {
    width: 40px;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    position: absolute;
    top: 0;
    border-radius: var(--radius);
    -webkit-border-radius: var(--radius);
    -moz-border-radius: var(--radius);
    -ms-border-radius: var(--radius);
    -o-border-radius: var(--radius);
    text-align: center;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 2rem;
}

.position-static {
    width: 100%;
    position: static;
    margin: 0;
    padding: 0;
    background: green;
}
.start {
    left: 40%;
    background: green;
} 
.low {
    left: 20%;
    background: yellow;
}
.too-low {
    left: 3%;
    background: rgb(255, 145, 0);;

}
.high {
    left: 58%;
    background: yellow;
}
.too-high {
    left: 75%;
    background: rgb(255, 145, 0);
}
.not-allowed {
    left: 97%;
    background: red;
}
.message-text {
    display: none;
}
.result-message {
    font-size: 2rem;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-weight:700 ;

}
.transform {
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
}
.labels span {
    text-transform: capitalize;
    color: var(--clr-black);
    font-size: 1.2rem;
}
.labels {
    /* change */
    /* display: none; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@media  screen and (max-width:600px){
    .progress-bar {
        width: 50%;
        height: auto;
        text-align: center;
        margin: 0 auto;
        background: linear-gradient(180deg, rgba(0,0,0,0.3), rgba(0,0,0,0.5));
        background-color:yellow;
    }
    .my-bar {
       display: none;
    }
    .labels {
        display: none;
    }
    .message-text {
        display: inline-block;
        text-transform: capitalize;
        color: var(--clr-black);
        font-size: 2rem;
        font-weight: 700;
        color: var(--clr-white);
    }
}

@media screen and (min-width: 450px) {
    .section {
        padding: 5rem 0;
    }
}
/* 
=====================
INPUT SECTION
=====================
*/

.input-section {
    padding: 0;
}

.input-section-center {
   width: 80%; 
   position: relative;
}
.right {
    display: flex;
    /* change */
    /* display: none; */
    flex-direction: column;
    padding-bottom: 2rem;
}

.left {
    position: absolute;
    top: 100%;
    display: flex;
    /* change */
    /* display: none; */
    justify-content:space-around;
    align-items: center;
    width: 100%;
}

.left input {
   padding:1.5rem 0.5rem;
   width: 8rem;
   border: transparent;
   border-radius: var(--radius);
   background: wheat;
   font-size: 1rem;
   font-weight: 700;
   transition: var(--transition);
   -webkit-transition: var(--transition);
   -moz-transition: var(--transition);
   -ms-transition: var(--transition);
   -o-transition: var(--transition);
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
   -webkit-border-radius: var(--radius);
   -moz-border-radius: var(--radius);
   -ms-border-radius: var(--radius);
   -o-border-radius: var(--radius);
}
.left input:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);;
    
}
.left input ::placeholder {
    color:var(--clr-black);
    font-size: 1rem;
    font-weight: 700;
}
.btn-submit {
    padding: 0.75rem 0.75rem;
    font-size: 1.22rem;
    font-weight: 700;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
    border-radius: var(--radius);
    -webkit-border-radius: var(--radius);
    -moz-border-radius: var(--radius);
    -ms-border-radius: var(--radius);
    -o-border-radius: var(--radius);
}

.label-score, .label-high-score {
    color: var(--clr-primary-5);
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: capitalize;
}

.right span {
    color: var(--clr-primary-1);
}

@media screen and (min-width:450px) {
    .input-section-center {
        position: static;
        display: flex;
        justify-content: space-between; 
        flex-wrap: wrap; 
        align-items: flex-start; 
        width: 80%;
        max-width: 500px;
    }
    .left {
        position: static;
        top: 0;
        width: 40%;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 1rem 0;
    }
    
    .left input {
        width: 6rem;
    }
    .btn-submit {
        padding: 0.5rem 0.5rem;
        font-size: 1rem;
    }
    .right {
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        padding-bottom: 0;
    }
    
}
@media screen and (min-width:600px) {
    .left input {
        width: 80%;
        padding-top:2rem ;
        padding-bottom:2rem ;
    }
    .btn-submit {
        font-size: 1.5rem;
        padding: 0.75rem 1.5rem;
    }
}
 

